.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.babelrc
.eslintrc.json
.prettierrc.json
package-lock.json
README.md
webpack.*.js
src/
docs/
node_modules/
jsdoc.conf
.gitignore
.npmignore
.prettierignore
OSSNotice-planet-kit-web*
NOTICE.txt